
.container.api1_container {
    width: 75%;
    display: grid;
    grid-template-columns:max-content;
    gap: 12%;
}

.api1_app {
    display: flex;
}

.api1_sidebar {
    flex: 3;
    border-right: 2px solid var(--color-primary-variant);
    border-radius:15%;
    
}

.api1_main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 7rem;
    margin-bottom: 0;
    
}

.api1_chatBox {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 98%;
    max-width: 50.5rem;
}

.api1_chat {
    margin: 0.2rem;
    padding: 0.1rem;
    font-size: 0.9rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.api1_chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area {
    background: rgb(69, 68, 68);
    width: -moz-fit-content;
    width: fit-content;
    border: 0.5rem;
    border-radius: 0.3rem;
    border-top: 0.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.api1_input {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 40rem;
    
}

.api1_bot-icons {
    font-size: 2rem;
    color: var(--color-bg-variant)
}

.gptImg {
    object-fit: cover;
    width: 2.5rem;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
    border-radius: 0.2rem;
}

.api1_upperSide {
    padding: 1rem;
    border-bottom: 2px solid var(--color-primary-variant);
    height: 88%;
}

.api1_upperSideTop {
    display: flex;
    align-items: center;
    margin-bottom: rem;
}



.api1_brand {
    font-size: 1rem;
}

.api1_lowerSide {
    padding: 0.4rem;
}

.gptBtn {
    width: max-content;
    display: flex;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(var(--transition));
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}

.gptBtn:hoover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.gptBtn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

.api1-chatIcons {
    margin-right: 0.2rem;
    object-fit: cover;
}

.api1_listItems {
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.api1_list-icons {
    margin: 0.3rem;
    padding-right: 0.1rem;
    padding-left: none;
    align-items: center;
    justify-content: center;
}

.api1_bot-icon {
    font-size: 3rem;
    color: var(--color-primary-variant);
}


.gptSendBtn {
    background: transparent;
    color: var(--color-primary-variant);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.gptSendBtn:hover {
    color: var(--color-light);
}

.txt {
    line-height: 2rem;
    color: rgb(222, 222, 222, 1);
    margin-right: 0.8rem;
    
}




/* ========= MQ For Tablets (Medium Devices) ========= */
@media screen and (max-width: 1024px) {
    .container.api1_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ========= MQ For Phones (Small Devices) ========= */
@media screen and (max-width: 600px) {
    .container.api1_container {
        width: var(--container-width-sm);
    }
}
